<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<!--Define your beans here-->

<beans>
    <bean class="org.kfh.Engineer" id="theEngineer">
<!--        Setter DI here-->
        <property name="id" value="93738"/>
        <property name="name" value="Sarah J"/>
        <property name="skills" value="Java, JSP, Servlets, HTML, CSS, DevOps"/>
<!--       Initialize collection: -->
        <property name="laptops">
            <list>
                <ref bean="laptop"/>
                <ref bean="secondLaptop"/>
            </list>
        </property>

    </bean>

    <bean class="org.kfh.Laptop" id="laptop">
        <constructor-arg value="66"/>
        <constructor-arg value="thinkpad"/>
        <constructor-arg value="Lenovo"/>
    </bean>

    <bean class="org.kfh.Laptop" id="secondLaptop">
        <constructor-arg value="662"/>
        <constructor-arg value="macbook air"/>
        <constructor-arg value="Apple"/>
    </bean>

</beans>