<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<!--Define your beans here-->

<beans>
    <bean class="org.kfh.Engineer" id="theEngineer">
<!--        Setter DI here-->
        <property name="id" value="93738"/>
        <property name="name" value="Sarah J"/>
        <property name="skills" value="Java, JSP, Servlets, HTML, CSS, DevOps"/>
    </bean>

</beans>